.personal-image {
    width: 15rem;
    border-radius: 50%;
    /*border: 2px solid white;*/
    margin: 2rem;
}

.seccion-bienvenida {
    margin: 5rem 0 5rem 0;
}
    .seccion-bienvenida h1 {
        margin-bottom: 1rem;
    }

    .seccion-bienvenida p {
        line-height: 1.5;
        font-size: 1.25rem;
    }

/*#imagen-dotnet {
    width: 500px;
}*/

.cabecera {
    font-weight: bold;
}

.habilidades ul {
    list-style: none;
    padding-left: 0px;
}

.habilidades i {
    font-size: 50px;
}

.gradiente {
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}