.personal-image {
    width: 15rem;
    border-radius: 50%;
    margin: 2rem;
}

.seccion-bienvenida {
    margin: 5rem 0 5rem 0;
}

    .seccion-bienvenida h1 {
        margin-bottom: 1rem;
    }

    .seccion-bienvenida p {
        line-height: 1.5;
        font-size: 1.25rem;
    }

.badge {
    font-size: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.habilidades ul {
    list-style: none;
    padding-left: 0px;
}

.habilidades i {
    font-size: 50px;
}

.line-1 {
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(28) 1s 1 normal both, blinkTextCursor 500ms steps(28) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 15.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }

    to {
        border-right-color: transparent;
    }
}

.nav-link {
    border-bottom: 2px solid transparent;
}

    .nav-link:hover {
        border-bottom: 2px solid #fff;
    }
