:root {
    --font-primary: monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bs-primary: #88D4F2;
        --bs-secondary: #D94711;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-body: #212529;
        --color-text-primary: #ffffff;
        --color-text-secondary: #ffffff;
        --bs-primary-rgb: 139, 217, 107;
        --bs-secondary-rgb: 86, 215, 195;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-body-rgb: 33, 37, 41;
        --gradient-color-1: #302b63;
        --gradient-color-2: #0f0c29;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bs-primary: #212529;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-body: #ffffff;
        --bs-primary-rgb: 0, 0, 70;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-body-rgb: 33, 37, 41;
        --gradient-color-1: #6190E8;
        --gradient-color-2: #A7BFE8;
    }
}

body {
    font-family: var(--font-primary);
    background: var(--gradient-color-1);
    background: -webkit-linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
    background: linear-gradient(to top, var(--gradient-color-1), var(--gradient-color-2));
}

header > nav, body, .card {
    color: var(--color-text-primary);
}

nav a {
    color: var(--color-text-primary) !important;
}

.card {
    border: 1px solid rgb(var(--bs-primary-rgb));
}

/*CustomButtons*/

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

    .btn-outline-primary:hover, .btn-outline-primary:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

        .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-primary-rgb), 0.5);
        }

.btn-outline-secondary {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

    .btn-outline-secondary:hover, .btn-outline-secondary:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-secondary);
        border-color: var(--bs-secondary);
    }

        btn-outline-secondary, .btn-outline-secondary:focus, .btn-outline-secondary:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-secondary-rgb), 0.5);
        }

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

    .btn-outline-primary:hover, .btn-outline-primary:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
    }

        .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-primary-rgb), 0.5);
        }

.btn-outline-success {
    color: var(--bs-success);
    border-color: var(--bs-success);
}

    .btn-outline-success:hover, .btn-outline-success:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-success);
        border-color: var(--bs-success);
    }

        btn-outline-success, .btn-outline-success:focus, .btn-outline-success:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-success-rgb), 0.5);
        }

.btn-outline-info {
    color: var(--bs-info);
    border-color: var(--bs-info);
}

    .btn-outline-info:hover, .btn-outline-info:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-info);
        border-color: var(--bs-info);
    }

        btn-outline-info, .btn-outline-info:focus, .btn-outline-info:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-info-rgb), 0.5);
        }

.btn-outline-warning {
    color: var(--bs-warning);
    border-color: var(--bs-warning);
}

    .btn-outline-warning:hover, .btn-outline-warning:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-warning);
        border-color: var(--bs-warning);
    }

        btn-outline-warning, .btn-outline-warning:focus, .btn-outline-warning:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-warning-rgb), 0.5);
        }

.btn-outline-danger {
    color: var(--bs-danger);
    border-color: var(--bs-danger);
}

    .btn-outline-danger:hover, .btn-outline-danger:active {
        color: var(--gradient-color-1);
        background-color: var(--bs-danger);
        border-color: var(--bs-danger);
    }

        btn-outline-danger, .btn-outline-danger:focus, .btn-outline-danger:active:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-danger-rgb), 0.5);
        }