<form asp-controller="Home" asp-action="Contact">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
        <label for="mensaje">Mensaje</label>
    </div>
    <button type="submit" class="btn btn-outline-success">Enviar</button>
</form>