@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Soy Yan Carlos Morera</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JS</h2>
    <img src="https://avatars.githubusercontent.com/u/31990200?s=400&u=6cc71d8a12add7870cee9889fff7953f7d32822a&v=4" alt="ai generated image" class="personal-image" />
</div>

<div class="text-center">
    <img src="~/img/dotnet-imagen-2.png" class="" id="imagen-dotnet" alt="dotnet-logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            Analista y desarrollador de sistemas de información con experiencia en lenguajes de programación que incluyen: Java, C#, PHP y Javascript, conocimiento en gestión de bases de datos que incluye: MySQL y SQL Server; responsable, emprendedor, con la mejor actitud y disposición para comenzar nuevos proyectos, asumir retos y aprender nuevas cosas cada día.
        </p>
    </div>
</div>