<div>
    <div class="row justify-content-md-center text-center">
        <div class="col col-12 col-md-3 habilidades">
            <i class="bi-hdd"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo de desarrollo de aplicaciones con APIs REST y despliegue en entornos de produción
            </p>
            <p class="cabecera">
                Stack:
            </p>
            <p class="">
                ASP.NET Core, SQL Server
            </p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP</li>
                <li>EF</li>
            </ul>
        </div>
        <div class="col col-12 col-md-3 habilidades">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Blablabla
            </p>

            <p class="cabecera">
                Stack:
            </p>
            <p class="">
                React, AngularJS
            </p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>AngularJS</li>
            </ul>
        </div>
    </div>
</div>