@*<h1>Skills</h1>*@
<div class="row justify-content-md-around text-center my-5">
    <div class="col col-12 col-md-4 habilidades p-5 mb-3 mb-md-0">
        <i class="fa fa-terminal mb-3"></i>
        <h3>
            <strong>Back-end</strong>
        </h3>
        <p>
            Trabajo de desarrollo de aplicaciones con APIs REST y despliegue en entornos de produción
        </p>
        <h3>
            <strong>Stack:</strong>
        </h3>
        <span class="badge rounded-pill bg-success">C#</span>
        <span class="badge rounded-pill bg-success">.NET Core</span>
        <span class="badge rounded-pill bg-success">.NET Framework</span>
        <span class="badge rounded-pill bg-success">Entity Framework</span>
        <span class="badge rounded-pill bg-success">SQL Server</span>
        <span class="badge rounded-pill bg-success">MySQL</span>
        <span class="badge rounded-pill bg-warning text-dark">PHP</span>
        <span class="badge rounded-pill bg-warning text-dark">SCRUM</span>
    </div>
    <div class="col col-12 col-md-4 habilidades p-5">
        <i class="fa fa-code mb-3"></i>
        <h3>Front-end</h3>
        <p>
            Desarrollo de aplicaciones 
        </p>
        <h3>
            <strong>Stack:</strong>
        </h3>
        <span class="badge rounded-pill bg-success">JavaScript</span>
        <span class="badge rounded-pill bg-success">HTML</span>
        <span class="badge rounded-pill bg-success">CSS</span>
        <span class="badge rounded-pill bg-success">AngularJS</span>
        <span class="badge rounded-pill bg-success">JQuery</span>
        <span class="badge rounded-pill bg-success">GIT</span>
        <span class="badge rounded-pill bg-warning text-dark">React JS</span>
        <span class="badge rounded-pill bg-warning text-dark">Flutter</span>
        <span class="badge rounded-pill bg-warning text-dark">Dart</span>
        <span class="badge rounded-pill bg-warning text-dark">React Native</span>
    </div>
</div>