<div class="row justify-content-md-center text-center">
    <div class="col col-12 col-md-3 habilidades">
        <h3>Back-end</h3>
        <p>
            Trabajo de desarrollo de aplicaciones con APIs REST y despliegue en entornos de produción
        </p>
    </div>
    <div class="col col-12 col-md-5 habilidades">
        <h3>
            <strong>Stack:</strong>
        </h3>
        <span class="badge rounded-pill bg-success">C#</span>
        <span class="badge rounded-pill bg-success">.NET Core</span>
        <span class="badge rounded-pill bg-success">.NET Framework</span>
        <span class="badge rounded-pill bg-success">Entity Framework</span>
        <span class="badge rounded-pill bg-warning text-dark">Warning</span>
    </div>
</div>
<div class="row justify-content-md-center text-center">
    <div class="col col-12 col-md-5 habilidades">
        <p class="cabecera">
            Stack:
        </p>
        <p class="">
            React, AngularJS
        </p>
        <p class="cabecera">
            Experiencia:
        </p>
        <ul>
            <li>AngularJS</li>
        </ul>
    </div>
    <div class="col col-12 col-md-3 habilidades">
        <i class="bi-code-slash"></i>
        <h3>Front-end</h3>
        <p>
            Blablabla
        </p>
    </div>
</div>