<div class="row flex-lg-row-reverse align-items-center g-5 py-5 my-5" style="height: 85vh">
    <div class="col-10 col-sm-8 col-lg-4">
    </div>
    <div class="col-lg-8">
        <h1 class="display-5 fw-bold lh-1 mb-3 anim-typewriter line-1">Soy Yan Carlos Morera Caldas</h1>
        <p class="lead">
            Analista y desarrollador de sistemas de información con cerca de 3 años de experiencia
            en desarrollo backend implementando soluciones de software, trabajando de la mano con
            stakeholders, apoyando y liderando equipos de desarrollo. Estoy a la disposición y con
            la actitud para asumir nuevos proyectos y retos.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-outline-primary btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="Work">Proyectos</a>
            <a class="btn btn-outline-secondary btn-lg px-4 me-md-2" data-bs-toggle="offcanvas" data-bs-target="#contactForm" aria-controls="contactForm">Contacto</a>

        </div>
        @*<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2">
            <button type="button" class="btn btn-outline-success btn-lg px-4">Success</button>
            <button type="button" class="btn btn-outline-info btn-lg px-4">Info</button>
            <button type="button" class="btn btn-outline-warning btn-lg px-4">Warning</button>
            <button type="button" class="btn btn-outline-danger btn-lg px-4">Danger</button>
        </div>*@
    </div>
</div>