@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <partial name="_Welcome" />

    <partial name="_Skills" />

    <partial name="_WorkSection" model="Model.Proyectos" />
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="contactForm" aria-labelledby="contactForm">
    <div class="offcanvas-header">
        <h5 id="contactForm">Contactame</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <partial name="_ContactForm" />
    </div>
</div>