@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <partial name="_Welcome" />

    <partial name="_Skills" />

    <partial name="_WorkSection" model="Model.Proyectos" />
</div>