@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por contactarme 👍</h1>
<p>Contestaré tan pronto como esté disponible</p>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div></div>
<div class="a"></div>
<div id="hola"></div>
<ul>
    <li><a href="" class="link">hola 1</a></li>
    <li><a href="" class="link">hola 2</a></li>
    <li><a href="" class="link">hola 3</a></li>
</ul>

<div><a asp-action="Index" asp-controller="Home">Volver al home</a></div>
